In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [12]:
df_left = DataFrame({'key':['X','Y','Z','X','Y'],
                     'data':range(5)})

In [13]:
df_left

   data key
0     0   X
1     1   Y
2     2   Z
3     3   X
4     4   Y

In [22]:
df_right = DataFrame({'group_data':[10,20]}, index={'X','Y'})

In [23]:
df_right

   group_data
Y          10
X          20

In [24]:
pd.merge(df_left, df_right, left_on='key', right_index=True)

   data key  group_data
0     0   X          20
3     3   X          20
1     1   Y          10
4     4   Y          10

In [25]:
pd.merge(df_left, df_right, left_on='key', right_index=True, how='outer')

   data key  group_data
0     0   X        20.0
3     3   X        20.0
1     1   Y        10.0
4     4   Y        10.0
2     2   Z         NaN