In [5]:
import pandas as pd
import numpy as np
from pandas import  DataFrame, Series

In [7]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],
                                  'key2':['one','two','one','two','one'],
                                  'data1':np.random.randn(5),
                                  'data2':np.random.randn(5)})

In [8]:
df

  key1 key2     data1     data2
0    a  one -0.842794 -0.025771
1    a  two  0.360390  2.330623
2    b  one -0.801276 -0.557025
3    b  two -0.845750 -0.488840
4    a  one -0.381891  0.618426

In [9]:
grouped  = df.groupby('key1')

In [10]:
grouped['data1'].quantile(0.9)

key1
a    0.211934
b   -0.805723
Name: data1, dtype: float64

In [11]:
def peak_to_peak(arr):
    return arr.max()-arr.min()

In [12]:
grouped.agg(peak_to_peak)

         data1     data2
key1
a     1.203184  2.356394
b     0.044474  0.068185

In [13]:
grouped.describe()

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0 -0.288098  0.607051 -0.842794 -0.612342 -0.381891 -0.010750
b      2.0 -0.823513  0.031448 -0.845750 -0.834631 -0.823513 -0.812394

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a     0.360390   3.0  0.974426  1.217867 -0.025771  0.296328  0.618426
b    -0.801276   2.0 -0.522933  0.048214 -0.557025 -0.539979 -0.522933


           75%       max
key1
a     1.474525  2.330623
b    -0.505886 -0.488840

In [14]:
tips = pd.read_csv()

SyntaxError: invalid syntax (<ipython-input-14-886505006c16>, line 2)